################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmotionApp/EmotionApp/obj
/EmotionApp/.vs
/CodePractice/CodePractice/obj
/CodePractice/.vs/CodePractice/FileContentIndex
